name: "Check"

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  check:
    name: "Check"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 'latest'

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: ESLint check
        run: bun run check